*.class

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# Derived #
/bin
/.pmd
/.classpath
/.gradle
/build

# Runtime #
/config
/crash-reports
/logs
/mods
/resourcepacks
/saves
/asm
/options.txt
